-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAPY5Z2Z3ZQZPMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAlVTMREwDwYDVQQIDAhWaXJnaW5pYTEQMA4GA1UEBwwHV2VzdGJveDEWMBQG
A1UECgwNR2FtZVN0YXRlczEOMAwGA1UECwwFQ2VydHMxGDAWBgNVBAMMD2xvY2Fs
aG9zdDoxMjM0NTYwHhcNMTgwNjI5MTYyNjQ5WhcNMjgwNjI2MTYyNjQ5WjBFMQsw
CQYDVQQGEwJVUzERMA8GA1UECAwIVmlyZ2luaWExEDAOBgNVBAcMB1dlc3Rib3gx
FjAUBgNVBAoMDUdhbWVTdGF0ZXMxDjAMBgNVBAsMBUNlcnRzMRgwFgYDVQQDDA9s
b2NhbGhvc3Q6MTIzNDU2MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
y5Z3ZQZPMA0GCSqGSIb3DQEBCwUAMIGIMQswCQYDVQQGEwJVUzERMA8GA1UECAwI
VmlyZ2luaWExEDAOBgNVBAcMB1dlc3Rib3gxFjAUBgNVBAoMDUdhbWVTdGF0ZXMx
DjAMBgNVBAsMBUNlcnRzMRgwFgYDVQQDDA9sb2NhbGhvc3Q6MTIzNDU2MB4XDTE4
MDYyOTE2MjY0OFoXDTI4MDYyNjE2MjY0OFowgYgxCzAJBgNVBAYTAlVTMREwDwYD
VQQIDAhWaXJnaW5pYTEQMA4GA1UEBwwHV2VzdGJveDEWMBQGA1UECgwNR2FtZVN0
YXRlczEOMAwGA1UECwwFQ2VydHMxGDAWBgNVBAMMD2xvY2FsaG9zdDoxMjM0NTYw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDLlndlBk8wDQZCZ3Z3ZQZP
MA0GCSqGSIb3DQEBCwUAMIGIMQswCQYDVQQGEwJVUzERMA8GA1UECAwIVmlyZ2lu
aWExEDAOBgNVBAcMB1dlc3Rib3gxFjAUBgNVBAoMDUdhbWVTdGF0ZXMxDjAMBgNV
BAsMBUNlcnRzMRgwFgYDVQQDDA9sb2NhbGhvc3Q6MTIzNDU2MIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyFDA=
-----END CERTIFICATE-----
